GEMINI_API_KEY= cole sua chave de API do Gemini aqui
TWILIO_ACCOUNT_SID= cole seu SID da conta do Twilio aqui
TWILIO_AUTH_TOKEN = cole seu token de autenticação do Twilio aqui
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886 #numero do WhatsApp do Twilio para envio de mensagens

#GEMINI_API_KEY voce precisa ir na aistudio.google.com, criar um projeto, ativar a API Gemini e gerar uma chave de API para usar nesse campo.
#twilio_account_sid voce precisa criar uma conta no Twilio, configurar um número de WhatsApp e pegar o SID da conta para usar nesse campo.
#TWILIO_AUTH_TOKEN voce precisa criar uma conta no Twilio, configurar um número de WhatsApp e pegar o token de autenticação para usar nesse campo.